/.env
conf/.DS_Store
conf/jackett/Jackett/log.txt
conf/jackett/Jackett/ServerConfig.json
conf/jackett/Jackett/updater.txt
conf/jackett/Jackett/DataProtection/key-73a3a84b-e27b-43a9-bda7-2810defb3672.xml
conf/qbit/qBittorrent/qBittorrent-data.conf
conf/qbit/qBittorrent/qBittorrent.conf
conf/qbit/qBittorrent/watched_folders.json
conf/qbit/qBittorrent/BT_backup/69e603dabb30ac3a2f0c805df54ae5c32fa6d1f7.fastresume
conf/qbit/qBittorrent/BT_backup/69e603dabb30ac3a2f0c805df54ae5c32fa6d1f7.torrent
conf/qbit/qBittorrent/BT_backup/617466caf970279dfaa6bc2da5121cad9758ee15.fastresume
conf/qbit/qBittorrent/BT_backup/queue
conf/qbit/qBittorrent/GeoDB/dbip-country-lite.mmdb
conf/qbit/qBittorrent/logs/qbittorrent.log
conf/qbit/qBittorrent/rss/feeds.json
conf/radarr/config.xml
conf/radarr/logs.db
conf/radarr/radarr.db
conf/radarr/radarr.db-shm
conf/radarr/radarr.db-wal
conf/radarr/radarr.pid
conf/radarr/logs/radarr.txt
conf/sonarr/config.xml
conf/sonarr/logs.db
conf/sonarr/logs.db-shm
conf/sonarr/logs.db-wal
conf/sonarr/sonarr.db
conf/sonarr/sonarr.db-shm
conf/sonarr/sonarr.db-wal
conf/sonarr/sonarr.pid
conf/sonarr/logs/sonarr.txt
media/.DS_Store
